github "d4l-data4life/d4l-fhir-ios" "feature/SDK-544/prepare-for-xcframeworks"
github "d4l-data4life/d4l-utils-ios" "feature/SDK-544/prepare-for-xcframeworks"

github "Alamofire/Alamofire" == 5.4.1
github "freshOS/then" == 5.1.3
github "krzyzanowskim/CryptoSwift" "1.3.7"
github "openid/AppAuth-iOS" "1.0.0"
github "SVProgressHUD/SVProgressHUD" "2.2.5"
